/* External BUG: Microsift Edge does not show sticky element on rtl direction*/
/* https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/15754013/ */
/* So, in Edge ,I use relative position */
@supports (-ms-ime-align:auto) {
    .sidebar-sticky {
        position: relative;
    }
}
