body {
    /*height: 1200px;*/
    height: 100vh;
}

.tooltip {
    min-width: 250px;
    max-width: 500px;
}

.tooltip .tooltip-inner {
    min-width: 250px;
    max-width: 500px;
    min-height: 100px;
    /*text-align: left;*/
    text-align: right; /*rtl*/
}

.container-viewport {
    position: absolute;
    top: 100px;
    right: 250px;
    left: 250px;
    height: 300px;
    background-color: #eee;
}

.btn-bottom {
    position: absolute;
    bottom: 0;
    /*left: 0;*/
    right: 0; /*rtl*/
}
